(
    profiles: (
        balanced: [
            (
                fan: CPU,
                pwm: (0, 0, 3, 74, 128, 255, 255, 255),
                temp: (20, 49, 58, 62, 65, 72, 80, 100),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (0, 0, 51, 102, 130, 255, 255, 255),
                temp: (20, 52, 56, 60, 68, 70, 80, 100),
                enabled: true,
            ),
        ],
        performance: [
            (
                fan: CPU,
                pwm: (0, 0, 3, 74, 128, 255, 255, 255),
                temp: (20, 49, 58, 62, 65, 72, 80, 100),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (0, 0, 51, 102, 130, 255, 255, 255),
                temp: (20, 52, 56, 60, 68, 70, 80, 100),
                enabled: true,
            ),
        ],
        quiet: [
            (
                fan: CPU,
                pwm: (7, 30, 30, 56, 56, 86, 86, 104),
                temp: (60, 65, 65, 70, 70, 75, 75, 98),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (20, 43, 43, 73, 73, 96, 96, 114),
                temp: (60, 65, 65, 70, 70, 75, 75, 98),
                enabled: false,
            ),
        ],
    ),
)
