[global]
workgroup = WORKGROUP
server string = {{ ansible_hostname }}
server role = standalone server
log level = 0
log file = /dev/null
public = no
writable = yes
printable = no
read only = no
acl allow execute always = no
acl map full control = no
map archive = no
map hidden = no
create mask = 0644
force create mode = 0664
directory mask = 02775
force directory mode = 02775
inherit permissions = no
store dos attributes = no

{% for share in samba_shares %}
[{{ share.name }}]
path = {{ share.path }}
writable = {{ share.writable | default('yes') }}
public = {{ share.public | default('no') }}
printable = {{ share.printable | default('no') }}
read only = {{ share.read_only | default('no') }}
create mask = {{ share.create_mask | default('0644') }}
directory mask = {{ share.directory_mask | default('02775') }}
force create mode = {{ share.force_create_mode | default('0664') }}
force directory mode = {{ share.force_directory_mode | default('02775') }}
{% endfor %}
